.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Nutrition-Column-Left{
  float: left;
  padding-right: 10px;
  width: 25%;
}

.Nutrition-Column-Right{
  float: left;
  padding-left: 30px;
  width: 75%;
}



.Nutrition-List-Group {
  max-height: 400px;
  margin-bottom: 0px;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
